*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* background-color: green; */
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    /* height: clamp(648px, 100vh, 100vh); */
    height: 100vh;
    width: 6vw;
    background-color: var(--oxford_blue);
    border-right: 1.8px solid black;
    align-items: center;
    justify-content: space-between;
}
.menu header{
    display: flex;
    /* height: clamp(10%, 15vh, 15vh); */
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.menu main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.menu main ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu main ul li{
    display: flex;
    justify-content: center;
    /* margin-bottom: clamp(20px, 2vh, 2vh) !important; */
    margin-bottom: 2vh !important;
}
.menu main ul li img{
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.menu main ul li img:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.menu footer{
    display: flex;
    flex-direction: column;
    /* height: clamp(150px, 15vh, 15vh); */
    height: 15vh;
    justify-content: space-around;
    margin-bottom: 2vh;
}
.menu footer img{
    border: 2px solid transparent;
    cursor: pointer;
    /* margin-bottom: clamp(20px, 2vh, 2vh) !important; */
    margin-bottom: 2vh;
}
.menu footer img:hover{
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
}
.menu footer img+img:hover{
    border-radius: 50%;
}

.menu > img{
    display: none;
}

.menu_mobile{
    display: none;
}

.selected_menu{
    border-bottom: 2px solid white !important;
}

.content{
    display: flex;
    /* min-height: 100%; */
    /* height: clamp(648px, 100vh, 100vh); */
    min-height: 100vh;
    height: 100% !important;
    width: 94vw;
    margin-left: 6vw;
    background-color: var(--oxford_blue);
}

.content-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
}


.content-left p:first-child,
.content-left p:last-child{
    text-indent: 1rem;
}

.content-left p{
    color: var(--font_code_color);
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    text-indent: 5rem;
}
.content-left span{
    color: var(--font_code_color);
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    font-weight: normal;
}
.content-left h1{
    color: var(--font_light_color);
    font-family: 'Poppins', sans-serif;
    margin-left: 8rem;
    max-width: 45vw;
    font-size: 3rem;
}

@media(max-width: 948px){
    body{
        flex-direction: column;
        overflow-x: hidden;
    }
    .menu{
        position: fixed;
        z-index: 2;
        height: 10vh;
        width: 100vw;
        margin: 0;
        border: 0;
        border-bottom: 1.8px solid black;
        flex-direction: row;
        background-color: var(--menu_mobile);
    }

    .menu header{
        display: flex;
        width: 20%;
        height: 100%;
    }
    .menu main{
        display: none;
    }
    
    .menu footer{
        display: none;
    }

    .menu > img{
        display: flex;
        height: 50%;
        margin-right: 5%;
    }

    .menu_mobile{
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        background-color: var(--oxford_blue);
        border-right: 1.8px solid black;
        
        transform: translateX(-110%);
    }
    .menu_mobile main{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    .menu_mobile main ul{
        list-style: none;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu_mobile main ul li{
        display: flex;
        justify-content: center;
        padding: 5% 0 5% 0;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2vh !important;
    }
    .menu_mobile main ul li a{
        text-decoration: none;
        color: var(--font_light_color);
    }
    
    .menu_mobile footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu_mobile footer img{
        border: 2px solid transparent;
        cursor: pointer;
        margin-bottom: 2vh;
    }
    .menu_mobile footer img:hover{
        border: 2px solid white;
        background-color: white;
        border-radius: 10px;
    }
    .menu_mobile footer img+img:hover{
        border-radius: 50%;
    }

    .content{
        position: relative;
        top: 10vh;
        width: 100vw;
        margin-left: 0vw;
    }
    .content-left{
        width: 100%;
    }
    .content-left p:first-child,
    .content-left p:last-child{
        text-indent: 2%;
    }

    .content-left p{
        text-indent: 8%;
    }
    
    .content-left span{
        text-indent: 1%;
        display: none;
    }

    .content-left h1{
        max-width: 90%;
        margin-left: 10%;
    }
}