:root{
    --oxford_blue:#17223b;
    --black_coral:#686F7F;
    --aquamarine:#79F2CB;
    --border_dark:#3c836c;
    --pacific_blue:#02AEC6;
    --font_light_color:#ebe9f0;
    --font_code_color: #e5e5e5;
}
